pandas
pendulum
optuna
numpy
matplotlib
seaborn
keras == 2.8.0
Keras-Preprocessing == 1.1.2
keras-vis == 0.4.1
tensorboard  == 2.8.0
tensorboard-data-server == 0.6.1
tensorboard-plugin-wit == 1.8.1
tensorflow == 2.8.0
tensorflow-datasets == 4.0.1
tensorflow-estimator == 2.8.0
tensorflow-gcs-config == 2.8.0
tensorflow-hub == 0.12.0
tensorflow-io-gcs-filesystem == 0.24.0
tensorflow-metadata == 1.7.0
tensorflow-probability == 0.16.0