dvc==2.*
mlflow==1.*
pandas==1.*
numpy==1.*
matplotlib==3.*
seaborn==0.*
pendulum==2.*
scikit-learn==1.*
tensorflow==2.*
ipykernel==6.*
statsmodels==0.*
black==22.*
isort==5.*
pylint==2.*
mypy==0.*
types-PyYAML==6.*
flake8==5.*
mkdocs==1.*
pre-commit==2.*
mkdocstrings[python]==0.*
SciencePlots==1.0.8